#timeline{
   position:relative;
   float:left;
   left:5px;
   top:0px;
   width:95%;
   height:100%;
   overflow:scroll;
  padding-left:0.25in;
  padding-right:0.25in;
   border-top: 3px outset lightblue;
   border-left: 3px outset lightblue;
   border-bottom: 3px outset lightblue;
   border-right: 3px outset lightblue;
   background-color:white;
   visibility: visible;
}

.timeline-event-bubble-time {
  display: none;
} 