/* <nav> tag, classes: navbar & navbar-default */
.navbar{
    display: block;
    margin-bottom: 20px;
}

.navbar-default{
    background:#317ca2;
    background:-o-linear-gradient(top, #3f94bf, #246485);
    background:-ms-linear-gradient(top, #3f94bf, #246485);
    background:-moz-linear-gradient(top, #3f94bf, #246485);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #3f94bf), color-stop(1, #246485));
    background:-webkit-linear-gradient(#3f94bf, #246485);
    background:linear-gradient(top, #3f94bf, #246485);
    -moz-box-shadow:0 1px 5px rgba(34,34,34,0.5);
    -webkit-box-shadow:0 1px 5px rgba(34,34,34,0.5);
    box-shadow:0 1px 5px rgba(34,34,34,0.5);
    width:100%;
    max-width:none;
    height:50px;
    margin:0;
    padding:0;
    border-bottom:1px solid #1b5572;
    color: white;
    display: block;
    position: relative;
  }

a.navbar-brand{
    color: white;
}

/* <ul> tag, classes: nav & navbar-nav */

/* Collapsed menu links */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: yellow;
}

@media (max-width: 767px) { /*-- Change max-width from 768 to 767 because Boostrap have an class make navbar always show with min-width=768px, make the navbar show even in collaspe mode - the glitch i told you --*/
     .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
	/*.navbar-collapse.collapse {
        display: none!important;
    }*/  /*-- Disable this, suggest remove - this cause the menu disappear as soon as it toogle in --*/
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
		position:relative;  /*-- Start the lines i suggested use --*/
		z-index:9999;
		background-color:#393939;  /*-- End the lines i suggested use --*/
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
}
