body{
    
    background-color: #474d7b;
}
.container{
    padding-right: 0;
    padding-left: 0;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

.row{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    display: block;
}

.col-md-12{
    padding-right: 0;
    padding-left: 0;
}

#contentRow{
    margin: 15px;
}

